<mat-toolbar color="primary">
  <span class="header-logo" routerLink="home">Movie Booking Site</span>
  <span class="header-spacer"></span>
  <button
    mat-raised-button
    *ngIf="!isLoggedIn"
    routerLink="login"
    color="accent"
  >
    Login
  </button>

  <!-- Profile Dropdown -->
  <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="profile">Profile</button>
    <button mat-menu-item *ngIf="!isAdmin">My Bookings</button>
    <button mat-menu-item *ngIf="isAdmin" [matMenuTriggerFor]="adminSubMenu">
      Admin service
    </button>
    <button mat-menu-item (click)="onLogout()">Logout</button>
  </mat-menu>
  <mat-menu #adminSubMenu="matMenu">
    <button mat-menu-item routerLink="admin/manage-movies">
      Manage movies
    </button>
    <button mat-menu-item routerLink="admin/manage-ticket">
      Manage ticket
    </button>
  </mat-menu>
</mat-toolbar>
