.forgot-password-card {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 80px;
}

.forgot-password-header {
  background-color: #f44336;
  color: #fff;
}

.forgot-password-title {
  font-size: 24px;
  font-weight: bold;
}

.forgot-password-content {
  padding: 24px;
}

.full-width {
  width: 100%;
}
