<mat-card class="forgot-password-card">
  <mat-card-header class="forgot-password-header">
    <mat-card-title class="forgot-password-title"
      >Forgot Password</mat-card-title
    >
  </mat-card-header>

  <mat-card-content class="forgot-password-content">
    <form>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User ID</mat-label>
        <input matInput type="text" placeholder="Enter your user ID" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Security Question</mat-label>
        <mat-select placeholder="Select a security question">
          <mat-option
            *ngFor="let q of securityQuestions"
            [value]="q.question"
            >{{ q.question }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Answer</mat-label>
        <input matInput type="text" placeholder="Enter your answer" />
      </mat-form-field>

      <button mat-raised-button color="accent" class="full-width">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
