.row {
  display: flex;
}

.sign-up-card {
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 80px;
}

.sign-up-header {
  background-color: #f44336;
  color: #fff;
}

.sign-up-title {
  font-size: 24px;
  font-weight: bold;
}

.sign-up-content {
  padding: 24px;
}
